body{
    font-family: 'poppins';
}
/* nav code */
.nav{
    background-color: lightgrey;
    height: 80vh;
    position: relative;
    z-index: 0;
}
.nav:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: circle(42.0% at 76% 6%);
    background-color:#649549;
  }
.nav ul li {
    display: inline-flex;
    text-decoration: none;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav .head{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-left: 100px
}
.nav ul li a{
    padding: 30px;
}

button{
    background-color:#6CB840 ;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
}

/* end of nav code */

/* info code */
.info{
   color: rgb(12, 161, 12);
}
.info h3{
    color: black;
    margin: 20px;
    padding-left: 100px;
}
.info h1{
    margin: 20px;
    padding-left: 100px;
}
.info{
    padding-top:120px;
}
.info p{
    color: red;
    display: block;
    margin: 20px;
    padding-left: 100px;
}
/* end of info code */

/* eat code */
.eat{
    display: flex; 
    justify-content: space-around; 
}

.eat .together {
    text-align: center;
    padding-top: 300px;
}
.together h1 {
 color: orangered;
}
/* eat code end*/

.explore .img1{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
 padding: 10px;
}

.explore{
    background-color: rgb(235, 243, 235);
}
.explore .img1 .one{
 background-color: white;
 border-style: none;
 border-bottom-right-radius: 25px;
 text-align: right;
 margin: 70px;
 padding: 20px;
}
/* .explore .img1 .one{
    display: flex; */
    /* color: blue; */
    /* border: 2px solid blue; */
.hot{
background-color: #649549;
display: flex;
flex-wrap: wrap;
}
