body{
    font-family: 'poppins';
}
/* nav code */
.nav{
    background-color: lightgrey;
    height: 80vh;
    position: relative;
    z-index: 0;
}
.nav:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: circle(42.0% at 76% 6%);
    background-color:#649549;
  }
  /* .na #star{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    clip-path: polygon(49% 22%, 52% 31%, 57% 34%, 52% 40%, 56% 48%, 41% 49%, 46% 39%, 42% 32%, 46% 33%);
  } */
.nav ul li {
    display: inline-flex;
    text-decoration: none;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav .head{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-left: 100px
}
.nav ul li a{
    padding: 30px;
}
#food{
color:  #EAAB1B;
}
button{
    background-color:#6CB840 ;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 25px;
}

/* end of nav code */

/* info code */
.info{
   color: rgb(12, 161, 12);
}
.info h3{
    color: black;
    margin: 20px;
    padding-left: 100px;
}
.info h1{
    margin: 20px;
    padding-left: 100px;
}
.info{
    padding-top:120px;
}
.info p{
    color: black;
    display: block;
    margin: 20px;
    padding-left: 100px;
}
/* end of info code */

/* eat code */
.eat{
    display: flex; 
    justify-content: space-around; 
}

.eat .together {
    text-align: center;
    padding-top: 300px;
}
.together h1 {
 color:  #EAAB1B;
}
/* eat code end*/

.explore .img1{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
 padding: 10px;
}

.explore{
    background-color: #C9ECB5;
}
.explore .img1 .one{
 background-color: white;
 border-style: none;
 border-bottom-right-radius: 25px;
 text-align: right;
 margin: 70px;
 padding: 20px;
}
/* .explore .img1 .one{
    display: flex; */
    /* color: blue; */
    /* border: 2px solid blue; */
    /* end of explore code*/

    /* begin of hot code*/
.hot{
background-color: #649549;
display: flex;
flex-wrap: wrap;
}
.imag{
    float: left;
}
.deals{
    float: right;
    margin-top: -100px;

}
/* end hot code */

/* beginning of contact us code*/
.contact{
    background-color: #FFD77C;
height: 600px;
text-align: center
;
}
.email{
    text-align: center;
    margin-top: 25px;
}
.contactus span{
    color:  #6CB840;
}
/* begining of footer code */
.footer{
    background-color: #C9ECB5;
    height: 300px;;
    display: inline-flex;
    flex-direction:row;
}
.sun{
    margin-right: 200px;
    margin-top: 60px;

}
.TN{
    margin-right: 200px;
    margin-top: 70px;
}
.folo{
    margin-right: 200px;
    margin-top: 70px;
}
.insen{
    margin-right: 300px;
    margin-top: 100px;
}


